/* Error: There is no module with the namespace "map".
 *     ,
 * 508 |             background-color: hsl(map.get($grid-colors, $area));
 *     |                                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *     '
 *   src/sass/style.scss 508:26  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: There is no module with the namespace "map".\a     \2577 \a 508 \2502              background-color: hsl(map.get($grid-colors, $area));\a     \2502                                    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a     \2575 \a   src/sass/style.scss 508:26  root stylesheet';
}
